In [9]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv('text_emotion-ori.csv')

In [11]:
data.head(3)

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...

In [12]:
data.groupby(['sentiment']).count()

            tweet_id  author  content
sentiment
anger            111     111      111
boredom          180     180      180
empty            831     831      831
enthusiasm       754     754      754
fun             1776    1776     1776
happiness       5209    5209     5209
hate            1323    1323     1323
love            3842    3842     3842
neutral         8638    8638     8638
relief          1525    1525     1525
sadness         5165    5165     5165
surprise        2187    2187     2187
worry           8459    8459     8459

In [13]:
data = data.replace('anger', 0)
data = data.replace('boredom', 1)
data = data.replace('empty', 3)
data = data.replace('enthusiasm', 3)
data = data.replace('fun', 2)
data = data.replace('happiness', 2)
data = data.replace('hate', 0)
data = data.replace('love', 2)
data = data.replace('neutral', 3)
data = data.replace('relief', 3)
data = data.replace('sadness', 1)
data = data.replace('surprise', 0)
data = data.replace('worry', 1)

In [14]:
data.head(3)

,tweet_id,sentiment,author,content
0,1956967341,3,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,1,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,1,coolfunky,Funeral ceremony...gloomy friday...

In [15]:
symbol='??,???,????,?????,??????,???????,????????,?????????,??????????,???????????,????????????,???????????????,!!,!!!,!!!!,!!!!!,!!!!!!,!!!!!!!,!!!!!!!!,!!!!!!!!!,!!!!!!!!!!,!!!!!!!!!!!,!!!!!!!!!!!!,!!!!!!!!!!!!!!!,?!!!!!!!!!!!!!!,!?,?!,!??,?!?,??!,!??!,((((((((((((((((((,xx,xxx,xxxx,xxxxx,xxxxxx,xxxxxxx,xxxxxxxx,xxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxxxxxxxx,X,XX,Xx,Xxxx,xoxo,XxOo,XOXO,ox,xox,Xoxo,oxox,xo,xoxox,xxoo,XoxoX,33,333,3333,$$,$$$,=),=(,=D,=X,=x,=C,=c,=P,=p,=>,=<,=[,=],=|,=#,=o,=O,=/,=\,=3,=S,=s,=0,:),:(,:D,:X,:x,:C,:c,:P,:p,:>,:<,:[,:],:|,:#,:o,:O,:/,:\,:3,:S,:s,:0,;),;(,;D,;X,;x,;C,;c,;P,;p,;>,;<,;[,;],;|,;#,;o,;O,;/,;\,;3,;S,;s,;0,;-),;-(,;-D,;-X,;-x,;-C,;-c,;-P,;-p,;->,;-<,;-[,;-],;-|,;-#,;-o,;-O,;-/,;-\,;-3,;-S,;-s,;0,:-),:-(,:-D,:-X,:-x,:-C,:-c,:-P,:-p,:->,:-<,:-[,:-],:-|,:-#,:-o,:-O,:-/,:-\,:-3,:-S,:-s,:-0,X),X(,XD,XX,Xx,XC,Xc,XP,Xp,X>,X<,X[,X],X|,X#,Xo,XO,X/,X\,X3,XS,Xs,X0,x),x(,xD,xx,xx,xC,xc,xP,xp,x>,x<,x[,x],x|,x#,xo,xO,x/,x\,x3,xS,xs,x0,:\'(,:\'),:0),:^),;)),:-bd,:**(,:**-(,:-,:l,:-ss,:L,;))),D;,):,(:,D:,8(,=.=,o_O,0_o,O_O,;_;,~*~,*-*,(*    *),^.^,(^~^),x.x,-_-,-.-,:*,:*:*,((.,???-??,!),WOOOO,*|)|/-\|\|/-\*,!!!! /\/\/\/\/\@-),*lol*,(_!_)!!'
symbols = symbol.split(',')

In [16]:
import nltk
# count all the words in the text
import re,collections  
def get_words(file):   
    words_box=[]  
    for line in file:
        line = line.lower()
        tokens = nltk.word_tokenize(line)
        words_box.extend(tokens)                 
    return collections.Counter(words_box)

In [17]:
word_cnt = get_words(data.content)

In [18]:
# get the category of the word by using nltk method
from nltk.corpus import stopwords
import re 
tags = set(['CC','DT','MD','IN','NN', 'NNP', 'NNS', 'NNPS','UH', 'VB','VBD', 'VBG','MD', 'VBN', 'VBP', 'VBZ', 'RB', 'RBR', 'RBS', 'JJ', 'JJR', 'JJS'])
def filter(text):
    # drop all the stop word and the word only show 1 time
    words = []
    for w in text.split():
        if w in stopwords.words('english'):
            continue
        if w in symbols:
            words.append(w)
            continue
        pat_letter = re.compile(r'[^a-zA-Z \']+')
        text = pat_letter.sub(' ', w).strip().lower()
        if text and text in word_cnt and word_cnt[w] > 1:
            words.append(text)
            
#     words = [w for w in text.split() if((w not in stopwords.words('english') and w in word_cnt and word_cnt[w] > 1) or w in symbols)]
    # get the categoyr of word
    pos_tags =nltk.pos_tag(words)
    ret = []
    #filter
    for word,pos in pos_tags:
        if (pos in tags):
            ret.append(word)
    return ' '.join(ret)

In [19]:

data['content'] = data['content'].apply(filter)

In [20]:
data.head(3)

,tweet_id,sentiment,author,content
0,1956967341,3,xoshayzers,know listenin bad habit earlier started freaki...
1,1956967666,1,wannamama,n bed headache
2,1956967696,1,coolfunky,

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
count_vec = CountVectorizer()
# cross validation
x_train, y_train = data.iloc[3000:, 3], data.iloc[3000:, 1]
x_test, y_test = data.iloc[:3000, 3], data.iloc[:3000, 1]
# word count by CountVectorizer
x_train_mnb = count_vec.fit_transform(x_train)
x_test_mnb = count_vec.transform(x_test)

In [22]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
# calculate the tfidf of the text 
tfidf = TfidfTransformer()
x_train_tf = tfidf.fit_transform(x_train_mnb)
x_test_tf = tfidf.transform(x_test_mnb)

#predict by native bayes
mnb = MultinomialNB()
mnb.fit(x_train_tf, y_train)
print(classification_report(y_test, mnb.predict(x_test_tf)))

              precision    recall  f1-score   support

           0       0.25      0.00      0.01       339
           1       0.59      0.76      0.66      1630
           2       0.24      0.28      0.26       274
           3       0.34      0.25      0.29       757

    accuracy                           0.50      3000
   macro avg       0.35      0.32      0.30      3000
weighted avg       0.45      0.50      0.46      3000

In [24]:
from sklearn import svm  
from sklearn.linear_model import SGDClassifier
#predict by SVM
dtc = SGDClassifier(loss='hinge', penalty='l2', alpha=1e-3, max_iter=5, random_state=42)

dtc.fit(x_train_mnb, y_train)
print(classification_report(y_test, dtc.predict(x_test_mnb)))

              precision    recall  f1-score   support

           0       0.33      0.09      0.15       339
           1       0.62      0.67      0.65      1630
           2       0.24      0.44      0.31       274
           3       0.36      0.30      0.33       757

    accuracy                           0.49      3000
   macro avg       0.39      0.38      0.36      3000
weighted avg       0.49      0.49      0.48      3000

E:\ProgramFiles\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:557: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

In [25]:
from sklearn.ensemble import GradientBoostingClassifier
gbdt=GradientBoostingClassifier(n_estimators=200) 

#predict by GBDT
gbdt.fit(x_train_tf, y_train)
print(classification_report(y_test, gbdt.predict(x_test_tf.toarray())))

              precision    recall  f1-score   support

           0       0.33      0.08      0.13       339
           1       0.62      0.54      0.58      1630
           2       0.30      0.27      0.28       274
           3       0.33      0.54      0.41       757

    accuracy                           0.46      3000
   macro avg       0.39      0.36      0.35      3000
weighted avg       0.48      0.46      0.46      3000

In [26]:
data['isEqual'] = dtc.predict(x_test_mnb) == y_test

In [27]:
result = data.iloc[:3000]

In [28]:
result.head(3)

,tweet_id,sentiment,author,content,isEqual
0,1956967341,3,xoshayzers,know listenin bad habit earlier started freaki...,False
1,1956967666,1,wannamama,n bed headache,True
2,1956967696,1,coolfunky,,False

In [29]:
result['predict'] = dtc.predict(x_test_mnb)

E:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
  result.head(3)

,tweet_id,sentiment,author,content,isEqual,predict
0,1956967341,3,xoshayzers,know listenin bad habit earlier started freaki...,False,1
1,1956967666,1,wannamama,n bed headache,True,1
2,1956967696,1,coolfunky,,False,3

In [31]:
result.to_csv("test2.csv",index=False,sep=',')